quart
aiosqlite
PyYaml
revChatGPT
tiktoken
claude-api
bardapi
hugchat
g4f
revTongYi
colorlog
git+https://github.com/Zai-Kun/reverse-engineered-chatgpt
git+https://github.com/dd123-a/revTiangong.git
git+https://github.com/dd123-a/revkimi.git